// ======= main html clasees=======

.img-fluid,
.rounded-15{
 border-radius: 15px;
}


// ========== Hero Area==========

.banner-img > img{
 border-radius: 0px;
}

.main-banner {
 padding: 150px 0;
}


.main-banner>h1 {
 max-width: 610px;
}

.main-banner-text {
 max-width: 640px;
}