// ======= main html clasees=======

.img-fluid,
.rounded-15{
 border-radius: 15px;
}
// ========== NavBar Area==========
.navbar-brand > h2 {
 font-size: x-large;
}
// .btn{
//  display: none;
// }

// ========== Hero Area==========

.banner-img > img{
 border-radius: 0px;
}

.main-banner {
 padding: 150px 0;
}

.main-banner > h1, p {
 max-width: 610px;
}



// ======= Feature Home ( Read on device)======

.device-text {
 max-width: 440px;
}
// ======= Footer Area ======

.small-text {
 font-size: smaller;
}

.footer-text {
 max-width: 440px;
}

.footer-copy {
 text-align: end;
}

.footer-design {
 text-align: center;
}


.line {
 border: 1px solid red;
}

  @media (min-width: 1200px) { 
  .container {
   max-width: 1300px;
  }
  }

    @media (max-width: 480px) {
    .navbar-brand > h2 {
    font-size: small;
    max-width: 100px;
    }
    .footer-copy {
     text-align: start;
     }
    
    .btn{
     font-size: 11px;
    }
    }