// ======= main html clasees=======

.img-fluid,
.rounded-15{
 border-radius: 15px;
}
// ========== NavBar Area==========

.navbar-brand > h2 {

 font-size: clamp(1rem, 5vw, 1.5rem);
}


.btn-main-2{
  font-size: clamp(0.5rem, 2.6vw, 1rem);
}



// ========== Hero Area==========

.banner-img > img{
 border-radius: 0px;
}

.main-banner {
 padding: 150px 0;
}

.text-banner,
.main-banner > h1{
 max-width: 610px;
}

.main-banner-text {
 max-width: 640px;
}

// ======= Feature Home ( Read on device)======

.device-text {
 max-width: 440px;
}
// ======= Footer Area ======


.footer-text {
 max-width: 450px;
}

.footer-copy,
.footer-design {
 text-align: center;
}

.small-text {
 font-size: smaller;
}


.line {
 border: 1px solid purple;
}



// ======= Footer Area ======

  @media (min-width: 1200px) { 
  .container {
   max-width: 1300px;
  }
  }

  @media (max-width: 450px){
    nav .container{
      padding: 0;
      justify-content: space-around;
    }

    .navbar > .container, .navbar > .container-fluid{
      justify-content: normal;
    }
    .container {
      padding: 35px 35px 0 ;
    
    }

    .navbar-toggler{
      padding: 0;
    }

    
  }

  