// =========General css


@media (min-width:1200px) {
 .container {
  max-width: 1300px
 }
}
.rounded-15,
img{
 border-radius: 15px;
}



// ======= Hero Area ======


.banner-img >img {
  border-radius: 0px;
}


.main-banner {
  padding: 150px 0 ;
}


.main-banner > h1 {
 max-width: 610px;
}

.main-banner-text{
  max-width: 640px;
}

// ======= Feature Home ( Read on device)======

.device-text{
  max-width: 440px;
}




